:root {
    --intense-red: rgb(219, 12, 12);
}

:root div.player-page.grass {
    --c1: #268326ad;
    --c2: rgb(25, 167, 60);
    --c3: rgb(168, 255, 207);
    --c4: #153b15;
    --background-header: url('/profile-backgrounds/bulbasaur.png');
}

:root div.player-page.water {
    --c1: #20518a;
    --c2: rgb(31, 94, 189);
    --c3: rgb(168, 235, 255);
    --c4: #030836;
    --c1-opacity: #20518a79;
    --background: url('/profile-backgrounds/lapras.png');
    --background-header: url('/profile-backgrounds/background-header.png');
    --background-content: url('/profile-backgrounds/background-content.png');
}

:root div.player-page.fight {
    --c1: #502405;
    --c2: rgb(161, 74, 23);
    --c3: rgb(255, 214, 180);
    --c4: #361a03;
    --background: url('/profile-backgrounds/ursaluna.png');
}

:root div.player-page.electro {
    --c1: #BA8E23;
    --c2: #F3D217;
    --c3: rgb(255, 244, 180);
    --c4: #635c03;
    --background: url('/profile-backgrounds/pikachu.png');
}

:root div.player-page.dark {
    --c1: #2c0550;
    --c2: rgb(106, 23, 161);
    --c3: rgb(215, 180, 255);
    --c4: #2a0336;
    --background: url('/profile-backgrounds/gengar.png');
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}